html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  font-family: 'Roboto', Arial, sans-serif;
}
button, button:focus {
  outline: 0;
}
.font-secondary {
  font-family: 'Etelka Text Pro', Arial, sans-serif;
}
.el-dropdown-menu.el-popper {
  z-index: 2020 !important;
}
.el-container {
  min-height: 100vh;
  min-height: calc(100vh - 275px);
}
.loading-placeholder {
  background-color: #f0f0f0;
}
h3.loading-placeholder {
  border-radius: 5px;
}
p.loading-placeholder {
  border-radius: 7px;
}